/*document styling*/

body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	background: #f5f5f5;
}

* {
	box-sizing: content-box;
}

a {
    color: #3183c9;
    text-decoration: none;
}

/*header*/

body > header {
	background-image: url("../images/books_header_bg.jpg");
	background-position: 1600px 0px;
	width: 100%;
	position: relative;
}

.brand {
	background: url('../images/books.MD_logo_icon.png') no-repeat;
	background-position: 7px 38px;
    margin: 0 auto;
    padding: 25px 0px 25px 2px;
    width: 700px;
}

body > header h1 {
	padding-top: 14px;
	display: inline-block;
	margin: 5px 0 2px 0px;
	color: #fff;
	font-family: 'Roboto Slab', serif;
	font-weight: 400;
	font-size: 1.8em;
	text-align: left;
	padding-left: 100px;
}

body > header h1 span {
	font-weight: 100;
}

body > header h2 {
	color: #6b8607;
	font-weight: 400;
	font-size: 1em;
	padding-left: 100px;
	margin: 2px 0px 25px 0px;
}

body > header input {
	width: 600px;
	background-color: #cedd9a;
	border: none;
	font-family: 'Roboto', sans-serif;
	font-size: 1.1em;
	padding: 15px 0px 15px 20px;
	color: #749108;
	outline: none;
	border-radius: 3px;
	margin-top: 30px;
	margin-bottom: 28px;
}

::-webkit-input-placeholder {
    color: #6b8607;
    opacity: 0.5;
}

:-ms-input-placeholder {
    color: #6b8607;
    opacity: 0.5;
}

::-moz-placeholder {
    color: #6b8607;
    opacity: 0.5;
}

:-moz-placeholder {
    color: #6b8607;
    opacity: 0.5;
    ;
}

header button {
    background-color: #fff;
    border: 0;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    color: #a7c932;
    padding: 12px 20px 15px;
    position: relative;
    right: 10px;
    outline: none;
}

/*navigation*/

nav {
	text-align: center;
	background-color: #fff;
	font-size: 1.2em;
	padding-top: 15px;
	padding-bottom: 15px;
	font-weight: 400;
	letter-spacing: -.4px;
}

nav a {
	color: #b1b1b1;
	padding-left: 10px;
	padding-right: 10px;
}

nav ul {
	margin: 0;
	list-style: none;
}

nav li {
	display: inline-block;
}

nav a:hover {
	color: #9cbf2e;
}

/*section*/

section {
	width: 1160px;
	margin: 0 auto;
	background: #fff;
	border-radius: 6px;
	margin-top: 52px;
	margin-bottom: 100px;
	padding-top: 36px;
	padding-left: 40px;
	font-variant-position: .7em;
	position: relative;
	height: 437px;
}

section:nth-child(n+2) {
	margin-top: 170px;
}

section header {
	max-width: 800px;
}

section header p {
	display: inline-block;
	font-size: .9em;
}

section h1, h2 {
	color: #313131;
	font-weight: 400;
	margin: 0;
	font-size: 1.8em;
	margin-bottom: 2px;
}

.publication-date, .edition {
	color: #cecece;
	padding-left: 15px;
	padding-right: 10px;
}

section p.author {
	display: inline-block;
}

section button.button-follow {
	font-size: .7em;
	border-radius: 3px;
	border: 1px solid #a7c932;
	padding: 5px 10px;
	margin-left: 14px;
}

section a.follow {
	display: inline-block;
	color: #a7c932;
}

section article {
	display: inline-block;
	vertical-align: top;
}

.book-description {
	width: 425px;
	font-weight: 400;
	line-height: 1.6;
	color: #616161;
	padding-right: 40px;
}

.book-ratings {
	padding-left: 20px;
	width: 280px;
	border-left: 1px solid #dedede;
}

.book-ratings > p {
	font-size: .9em;
	font-weight: 400;
	display: inline-block;
	margin: 5px 0;
	padding-left: 7px;
	padding-top: 5px;
}

.book-ratings div {
	margin-bottom: 10px;
}

.score {
	float: right;
}

.book-image {
	position: absolute;
	top: 0;
	right: 0;
}

.status-bar {
	height: 4px;
	position: relative;
	background-color: #f3f3f3;
	border-radius: 5px;
}

.status-bar > span {
	display: block;
	border-radius: 5px;
	height: 100%;
	position: relative;
	overflow: hidden;
}

.orange-text {
	color: #f7be26;
}

.green-text {
	color: #75c36a;
}

.blue-text {
	color: #5ac9e3;
}

.orange-bg {
	background-color: #f7be26;
}

.green-bg {
	background-color: #75c36a;
}

.blue-bg {
	background-color: #5ac9e3;
}

.nine-five {
	width: 95%;
}

.eight-zero {
	width: 80%;
}

.seven-five {
	width: 75%;
}

.links {
	font-size: .95em;
	margin: 0;
	padding-top: 25px;
	margin-top: 40px;
}

.links a {
	padding-left: 5px;
}

.links i {
	float: right;
	padding-right: 5px;
}

.links hr {
	border: .01em solid #dfdfdf;
}

section footer {
	background-color: #f5f5f5;
	width: 100%;
	margin-top: 60px;
	margin-left: 0;	
	position: relative;
	left: -40px;
	z-index: 10;
}

section footer img {
	z-index: 10;
}

.download {
	background-color: #98c400;
    border: 0;
    border-radius: 3px;
    color: #fff;
    font-size: 1.1em;
    padding: 10px 40px;
    outline: none;
}

.cost {
	display: inline-block;
	position: relative;
	right: 15px;
	background-color: #fff;
	padding: 10px 15px;
	color: #9cbf2e;
	font-size: 1.2em;
	bottom: 14px;
	border-radius: 2px;
	z-index: 2;
}

.bookmark {
	float: right;
}

/*book overlay*/

.overlay {
	width: 100%;
	height: 100%;
	background-color: rgba(230,230,230,.8);
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

.overlay input {
	width: 90%;
	border: 1px solid #e5e5e5;
	font-family: 'Roboto', sans-serif;
	font-size: 1.3em;
	padding: 15px 0px 15px 20px;
	color: #777;
	outline: none;
	border-radius: 3px;
	margin-top: 30px;
	margin-bottom: 28px;
	margin-left: 15px;
}

.overlay ul {
	list-style: none;
}

.overlay-main {
	position: relative;
	left: 595px;
	background-color: #fff;
	width: 600px;
	border: 3px solid #cbe9e7;
	border-radius: 3px;
}

.overlay-main span {
	float: right;
	padding-right: 20px;
}

.overlay-menu {
	-ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
    position: relative;
    top: 271px;
    left: 619px;
}

.overlay-menu li {
	color: #02a5cb;
	display: inline-block;
	padding: 10px 16px;
}

.overlay-menu li:hover {
	background-color: #cbe9e7;
}

/*footer*/

body > footer {
	height: 180px;
	background-color: #3a3a3a;
	margin-top: 150px;
}

body > footer .books-lmd-footer {
	float: left;
	background-image: url("../images/books.MD_footer_logo_icon.png");
	background-repeat: no-repeat;
	height: 50px;
	padding-left: 50px;
	padding-top: 8px;
	margin-top: 70px;
	color: #727272;
	margin-left: 37px;
	font-family: 'Roboto Slab', serif; 
	font-size: 1.1em;
}

body > footer .books-lmd-footer span {
	color: #a9a9a9;
}

body > footer .copyright {
	margin-right: 35px;
	float: right;
	color: #727272;
	margin-top: 70px;
	margin-bottom: 0px;
	font-size: .9em;
}

body > footer .contact-email {
	font-size: .9em;
	clear: right;
	float: right;
	color: #a9a9a9;
	margin-right: 35px;
	margin-top: 2px;
}
